@import url('https://unpkg.com/modern-normalize/modern-normalize.css');

:root {
    line-height: 1.5;
    --border: solid rgb(0, 0, 0);
    --yellow: rgb(197, 154, 0);
    --white: rgb(255, 255, 255);
    --grey: rgb(214, 214, 214);

}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* -------- */
* {
    padding: 0;
    margin: 0;
}

button:hover {
    background-color: hsl(0, 0%, 0%);
}

button {

    background-color: hsla(0, 0%, 100%, 0);
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 0px;
}



body {
    border: var(--border);
    background-image: url(../img/bck.jpg);
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

}


header {
    border: var(--border);
    background-color: var(--grey);
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100px;
    top: 20px;
    left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;
}

nav {
    padding-top: 20px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.logo {

    height: 40px;
    width: 40px;
}

.topContainer {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 300px;

}

.topContainer::-webkit-scrollbar {
    display: none;
}

.topImageContainer::-webkit-scrollbar {
    display: none;
}

.topImageContainer {
    height: 250px;
    display: flex;
    flex-shrink: 0;
    position: relative;
    text-align: center;
    color: white;
    justify-content: center;

}





.topImage {}

.imageTitle {
    bottom: 40px;

    font-weight: 700;
    position: absolute;
    align-self: flex-end;
    justify-content: center;
}

.imageDescription {
    font-size: small;
    top: calc(100% - 40px);
    padding-bottom: 5px;
    position: absolute;
    align-self: flex-end;
    justify-content: center;

}





.midText {
    position: relative;
    font-size: large;
    font-style: italic;
    font-weight: 50;
    border: var(--border);
    width: 100%;
    display: flex;
    padding: 40px;
    justify-content: center;
}


#content {

    background-color: white;
    border-radius: 20px;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 3 / 7;
}